footer(class='flex items-center justify-between bg-blue-950 p-4 px-4 py-4 text-sm uppercase text-stone-200')
  div
    a.text-lg.font-semibold(href="/") Members Only  
  ul.flex.gap-2
    li: a(href="#") About us
    |-
    li: a(href="#") Download apps
    |-
    li: a(href="#") Contact
  p &copy; by EmirYscn.