div(class='rounded-lg shadow-md')
  form(action="/message", method="post" class='flex flex-col')
    div(class='flex flex-col gap-2 border bg-white rounded-lg')
      input(type="text", name="title" placeholder='Title' class=' rounded-lg px-4 pt-2 outline-none placeholder:text-lg' required)
      textarea(name="message" class='px-4 py-2 outline-none resize-none text-stone-800 placeholder:text-sm' placeholder='Write a message' required)
      div(class='mt-2 mb-2 mr-2 self-end')
        button(type="submit" class='inline-block text-sm rounded-3xl font-semibold px-4 py-2 md:px-6 md:py-2 bg-blue-950/90 text-white shadow-lg hover:bg-blue-950 active:scale-95') Post