doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      //- link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      link(rel='stylesheet', href='/index.css') 
      script(defer src='/deleteMessage.js')
      //- link(rel="shortcut icon", type='image/png', href='/img/favicon.png') 
      title Members Only | #{title}

  body(class='grid h-screen grid-rows-[auto_1fr_auto]')
    // HEADER
    include _header

    // Content
    div(class='bg-stone-200/70 overflow-scroll ')
      main(class='mx-auto flex items-center justify-center h-full')
        block content

    // Footer
    include _footer